
// background colors
$color-bg-black      : #151515;
$color-bg-grey       : #393939;
$color-bg-beige      : #edeadb;
$color-bg-beige-dark : #D6D1BD;
$color-bg-header     : #313125;

// body text
$color-body-text : #313125;

// border colors
$color-border-header      : #5A5948; // dark gray
$color-border-grey        : #3d342e;
$color-border-grey-light  : #A9A395;
$color-border-store-links : #767967;

//text colors
$color-text-blue        : #598A98;
$color-text-hover       : #BEBDA9;
$color-text-black       : $color-bg-black;
$color-text-grey	    : #505040;
$color-text-grey-light  : #5A5948;
$color-text-beige       : #edeadb;
$color-text-beige-black : #969A82;

// section colors (found on front page)
$color-section-title : #3d342e;
$color-secondary-section-title : $color-body-text;
