    header {		
        margin: 45px 0 20px 0;
        border: 1px solid #cdcdcd;
        background-color: #ebede7;

        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
	
        header div#logo {
            float: left;

            margin: 15px 10px 0 25px;

            width: 50px;
            height: 50px;

            background-color: #5c50ce;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius: 50px;

            border: 1px solid #4d4d4d;
        }
		
        header div#logo span {
            font: 36px 'MuseoSlab500';
            color: #ebede7;
            text-shadow: #4d4d4d 2px 2px 0px, #4d4d4d -2px -2px 0px;

            position: absolute;
            top: 21px;
            left: 38px;
        }
		
        header hgroup {
            float: left;
            display: table;
            margin: auto 0;
            margin: 15px 0px;
        }
		
            header hgroup h1 {
                font: 24px 'ArvoRegular';
                color: #4d4d4d;

                letter-spacing: 1px;
            }

            header hgroup h2 {
                font: 12px 'ArvoRegular';
                color: #5c50ce;
            }
	
	nav {
            padding: 0;
            display: table;
            float: right;
	}
	
        nav ul {
            margin-right: 40px;
        }
	
            nav ul li {
                float: left;
                list-style: none;		
            }
	
                nav ul li a {
                    font: 16px 'MuseoSlab500';
                    color: #505050;

                    text-transform: uppercase;
                    text-decoration: none;

                    padding: 30px 15px;
                    display: block;
                }
                
                nav ul li a.selectedNav {
                    padding-top: 20px;
                    border-top: 10px solid #5c50ce;
                }
                
                nav ul li a:hover {
                    padding-top: 20px;
                    border-top: 10px solid #ffb84a;
                }


#body-wrapper {
    width: 100%;
    background: #ebede7;
    padding-bottom: 65px;
}

hgroup#main {
    padding-top: 65px;
}

    hgroup#main h1 {
        font: 21px 'NobileItalic';
        color: #505050;

        text-align: center;
        letter-spacing: 1px;
        line-height: 35px;
    }
    

div.latest-divider {
    font: 20px 'MuseoSlab500';
    color: #505050;
    text-align: center;

    margin: 45px 0;
}

div.divider {
    display: table;
    height: 22px;
    margin: 45px 0;
}

div.blog-post-teaser {
    border-top: 10px solid #cdcdcd;
    padding-top: 10px;
}

div.blog-post-teaser:hover {
    border-top: 10px solid #5c50ce;
}

    div.blog-post-teaser h3 {
        font: 18px 'AWConquerorInlineRegular';
        color: #4d4d4d;

        border-bottom: 1px solid #cdcdcd;
        padding-bottom: 5px;
    }
    
    div.blog-post-teaser h4 {
        font: 16px 'AWConquerorSansLight';
        color: #4d4d4d;

        border-bottom: 1px solid #cdcdcd;
        padding-top: 5px;
        padding-bottom: 5px;   
    }
    
    div.blog-post-teaser img {
        padding: 10px 0;
    }
    
    div.blog-post-teaser p {
        font: 14px 'AWConquerorSansLight';
        color: #4d4d4d;
        
        padding-bottom: 10px;
    }
    
    div.blog-post-teaser a {
        color: #5c50ce;
        font-style: italic;
        text-decoration: none;
    }
    
    div.blog-post-teaser a:hover {
        text-decoration: underline;
    }

#footer-wrapper {
    background: #373065;
    height: auto;
    width: 100%;
    
    padding-top: 25px;
}

    #footer-wrapper footer p {
        font: 12px 'MuseoSlab500';
        color: #ebede7;
        text-shadow: 1px 1px 1px #37303d;
    }
    
        #footer-wrapper footer p a {
            color: #ebede7;
        }
        
        #footer-wrapper footer p a:hover {
            color: white;
        }
    
        #footer-wrapper footer p#copyright {
            padding-top: 25px;
            padding-bottom: 5px;
        }
    
    #footer-wrapper footer a.top {
        text-decoration: none;
        font: 12px 'MuseoSlab500';
        color: #ebede7;
        text-shadow: 1px 1px 1px #37303d;
        
        float: right;
        padding-top: 25px;
    }
    
    #footer-wrapper footer a.top:hover {
        color: white;
        text-decoration: underline;
    }