@font-face {
    font-family: 'AWConquerorCarvedRegular';
    src: url('../type/awconquerorcarved-regular-webfont.eot');
    src: url('../type/awconquerorcarved-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/awconquerorcarved-regular-webfont.woff') format('woff'),
         url('../type/awconquerorcarved-regular-webfont.ttf') format('truetype'),
         url('../type/awconquerorcarved-regular-webfont.svg#AWConquerorCarvedRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AWConquerorInlineRegular';
    src: url('../type/awconquerorinline-regular-webfont.eot');
    src: url('../type/awconquerorinline-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/awconquerorinline-regular-webfont.woff') format('woff'),
         url('../type/awconquerorinline-regular-webfont.ttf') format('truetype'),
         url('../type/awconquerorinline-regular-webfont.svg#AWConquerorInlineRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AWConquerorSansLight';
    src: url('../type/awconquerorsans-light-webfont.eot');
    src: url('../type/awconquerorsans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/awconquerorsans-light-webfont.woff') format('woff'),
         url('../type/awconquerorsans-light-webfont.ttf') format('truetype'),
         url('../type/awconquerorsans-light-webfont.svg#AWConquerorSansLight') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'DinerFattRegular';
    src: url('../type/Diner-Fatt-webfont.eot');
    src: url('../type/Diner-Fatt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/Diner-Fatt-webfont.woff') format('woff'),
         url('../type/Diner-Fatt-webfont.ttf') format('truetype'),
         url('../type/Diner-Fatt-webfont.svg#DinerFattRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Museo300';
    src: url('../type/museo300-regular-webfont.eot');
    src: url('../type/museo300-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/museo300-regular-webfont.woff') format('woff'),
         url('../type/museo300-regular-webfont.ttf') format('truetype'),
         url('../type/museo300-regular-webfont.svg#Museo300') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSlab500';
    src: url('../type/Museo_Slab_500-webfont.eot');
    src: url('../type/Museo_Slab_500-webfont.eot?iefix') format('eot'),
         url('../type/Museo_Slab_500-webfont.woff') format('woff'),
         url('../type/Museo_Slab_500-webfont.ttf') format('truetype'),
         url('../type/Museo_Slab_500-webfont.svg#webfontyumMOUTD') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'PTSerifRegular';
    src: url('../type/PTF55F-webfont.eot');
    src: url('../type/PTF55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/PTF55F-webfont.woff') format('woff'),
         url('../type/PTF55F-webfont.ttf') format('truetype'),
         url('../type/PTF55F-webfont.svg#PTSerifRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTSerifCaptionRegular';
    src: url('../type/PTZ55F-webfont.eot');
    src: url('../type/PTZ55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/PTZ55F-webfont.woff') format('woff'),
         url('../type/PTZ55F-webfont.ttf') format('truetype'),
         url('../type/PTZ55F-webfont.svg#PTSerifCaptionRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}