/* 
    Document   : mainpage
    Created on : Jun 17, 2011, 11:46:26 AM
    Author     : kurtronaldmueller
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

div.widget {
    border-top: 10px solid #cdcdcd;
}

div.widget:hover {
    border-top: 10px solid #5c50ce;
}

    div.widget h3 {
        padding-top: 10px;
        padding-bottom: 5px;
    }

        div.widget h3 a {
            color: #ebede7;
            font: 18px 'AWConquerorInlineRegular';
            text-decoration: none;

            display: block;
        }

            div.widget h3 a img {
                display: none;
            }

    div.widget p {
        width: 318px;
        margin: 0 auto;
        padding: 5px 10px;
        
        background-color: #ebede7;
        
        font: 14px 'AWConquerorSansLight';
        color: #4d4d4d;
        
        display: table;
    }
            
div.widget ul {
    background-color: #ebede7;
    width: 318px;
    margin: 0 auto;
}

    div.widget ul li {
        list-style: none;
        padding: 5px 0;
        border-top: 1px solid #cdcdcd;

        font: 14px 'AWConquerorSansLight';
        color: #4d4d4d;
    }
    
    div.widget ul li:last-child {
        border-bottom: none;
    }
    
        div.widget ul li a {
            color: #5c50ce;
            text-decoration: none;
        }
        
        div.widget ul li a:hover {
            text-decoration: underline;
        }